body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    color: #222222;
    font-size: 14px;
}

.menu__burger {
    display: none;
    height: 30px;
    width: 30px;
    position: relative;
    cursor: pointer;

}

.menu__item {
    transition: all .35s linear;
    opacity: 0;
}

.menu__burger span {
    transition: all .3s linear;
    position: absolute;
    height: 2px;
    width: 29px;
    background: #fff;
}

.menu__burger span:nth-of-type(2) {
    top: 7px;
}

.menu__burger span:nth-of-type(3) {
    top: 14px;
}

.close span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 5px;
}

.close span:nth-of-type(2) {
    top: 5px;
    opacity: 0;
}

.close span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 5px;
}


.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

div {
    box-sizing: border-box;
}

header {
    background: url(../img/first-bg.jpg) no-repeat center top / cover;
    height: 100%;
    min-height: 800px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.logo {
    margin-top: 41px;
    float: left;
}

nav {
    float: right;
    margin-top: 45px;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li:hover {
    border-bottom: 1px solid #fff;
}

.menu li {
    float: left;
    display: block;
    margin-right: 41px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
}

.titles__first {
    font-size: 2.8571rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 180px;
}

h1 {
    font-size: 5.3571rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 15px;
}

.button {
    background: #fed136;
    color: #484543;
    border-radius: 3px;
    display: block;
    width: 240px;
    padding: 20px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2857rem;
    margin-top: 50px;
}

.title {
    padding-top: 115px;
}

.title .title__header {
    font-size: 2.8571rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.title .title__desc {
    color: #777777;
    text-align: center;
    font-size: 1.1429rem;
    margin-top: 5px;
}

.services,
.works {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 90%;
    margin: 80px auto 0 auto;
}

.services__item {
    width: 270px;
    float: left;
    text-align: center;
}

.services__item h3 {
    font-size: 1.2857rem;
    margin-bottom: 5px;
}

.services__item p {
    color: #777777;
    font-size: 1rem;
    line-height: 1.55em;
}

.services__item:last-child {
    float: right;
}


#services {
    padding-bottom: 120px;
}

#portfolio {
    background: #f7f7f7;
}

.works {
    margin-top: 70px;
}

.works img {
    float: left;
}

.works img:last-child {
    float: right;
}

footer {
    background: #333;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer .number {
    font-size: 2.4rem;
    padding-right: 20px;
    color: #fff;
}

/*Для айпад*/
@media (max-width:1024px) {



    .services,
    .works {
        width: 100%;
    }

    .services__item,
    .works__item {
        width: 220px;
    }

    .menu li {
        margin-right: 16px;
    }
}

/* для фаблетов */
@media(max-width:415px) {
    .menu__burger {
        display: block;
    }

    .menu li {
        display: none;
    }

    header {
        min-height: 550px;
    }

    nav {
        width: 100px;
    }

    h1 {
        font-size: 1.3571rem;
    }

    .titles__first {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        margin-top: 70px;
    }

    .services,
    .works {
        grid-template-columns: 1fr;
        margin: 50px auto 0 auto;
        grid-row-gap: 40px;
    }

    .title {
        padding-top: 85px;
    }

    .titles__first,
    .title .title__header {
        font-size: 1.8571rem;
    }

    footer {
        height: 15vh;
    }

    footer .number {
        font-size: 1.3rem;
    }
}
